#instructions h2 {
  margin: 15px 0;
}

.instruction-number p {
  font-family: "Playfir Display";
  padding: 5px 10px;
  background-color: #f2994a;
  border-radius: 6px;
  color: #ffffff;
}

.instruction-desc {
  padding: 0 10px;
}

.instruction {
  margin: 10px 0;
}
